<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home Page</title>
</head>

<body class="">
    <!-- Navbar Starts here-->
    <div class="">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg  navbar-light" style="background-color: #ffffff;">
                <div class="col">
                    <a class="navbar-brand" href="index.html" style="color: #71ce47;">Hostel-Checkin</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control  Requiredmr-sm-2" type="search" placeholder="Search Directory"
                            aria-label="Search">
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div class="col">
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link text-success font-weight-bolder" href="index.html">Home <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Hostels</a>
                            </li>
                            <li class="nav-item">
                                <a class="p-2" href="login.html"> <span class="btn btn-success">Login</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-success" href="signup.html">SignUp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <hr>
    </div>
    <!-- Navbar Ends Here-->

    <!-- The signup form starts here-->
    <div class="p-5 mt-5">
        <div class="container mt-2 p-5 signUpBG">
            <div class="formResize shadow-lg rounded bg-white w-75">
                <form class="p-5">
                    <span class="text-center">
                        <h2>Creat Account</h2>
                    </span>
                    <div class="form-group">
                        <label for="inputName1">Full-name</label>
                        <input type="text" class="form-control" Required id="inputName1" aria-describedby="textHelp"
                            placeholder="Enter full name">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1">Email address</label>
                        <input type="email" class="form-control" Required id="inputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="inputInstitusion1">Institusion</label>
                        <input type="text" class="form-control" Required id="inputInstitusion1" aria-describedby="textHelp"
                            placeholder="Enter Institusion name">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword1">Password</label>
                        <input type="password" class="form-control" Required id="inputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword2">Confirm Password</label>
                        <input type="password" class="form-control" Required id="inputPassword2" placeholder="Confirm Password">
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Already have an account? <a href="login.html"><span class="font-weight-bolder text-success">LOGIN</span></a></small>
                    <div class=" pt-3 text-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- The signup form ends here-->

    <!-- Footer Starts Here-->
    <footer class="">
        <div style="background-color: #71ce47;" class="mb-0">
            <ul class="nav justify-content-center">
                <li class="nav-item font-weight-bolder">
                    <a class="nav-link " href="#">About</a>
                </li>
                <li class="nav-item font-weight-bolder">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item font-weight-bolder">
                    <a class="nav-link" href="#">Contribute</a>
                </li>
                <li class="nav-item font-weight-bolder">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item">
                    <span class="lead nav-link">©
                        <script>document.write(new Date().getFullYear())</script> DSCIMSU</span>
                </li>
            </ul>

        </div>
    </footer>
    <!-- Footer Starts Here-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>